<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilosIndex.css">
  <title>Pagina Principal Construrama</title>
</head>

<body style="background-image:url(FondoConst.jpg); background-size: cover; background-repeat: no-repeat;">
  <div class="container">
    <div class="BarNav">
      <div class="Titulo Construrama">Materiales Quirino: Construrama</div>
      <div class="Nav1 Logo"><img src="imgs/Logo.png" height="130px" width="190px"></div>
      <div class="Nav2 Barra">
        <a href="/">Inicio</a>
        <a href="">Contactos</a>
        <a href="https://youtu.be/GD6xvheIRRQ">Video</a>
      </div>
    </div>
    <div class="Texto">
      <div class="Titulos Producto1">
        <h2 class="CajasT">Saco de Cemento Grande 20kgs.</h2><img src="imgs/Cemento.png" width="250px" height="250px">
        <h3 class="Desc">Costo: $200</h3>
      </div>
      <div class="Titulos Producto2">
        <h2 class="CajasT">Varillas de Acero</h2><img src="imgs/Acero.png" width="250px" height="250px">
        <h3 class="Desc">Costo: $300</h3>
      </div>
      <div class="Titulos Producto3">
        <h2 class="CajasT">Saco de Arena Mixta</h2><img src="imgs/Arena.png" width="250px" height="250px">
        <h3 class="Desc">Costo: $100</h3>
      </div>
      <div class="Titulos Producto4">
        <h2 class="CajasT">Block (Normal o Termico)</h2><img src="imgs/Block.png" width="250px" height="250px">
        <h3 class="Desc">Costo: $5 por Block</h3>
      </div>
      <div class="Titulos Producto5">
        <h2 class="CajasT">Pliegue de Plastico Negro</h2><img src="imgs/Plastico.png" width="250px" height="250px">
        <h3 class="Desc">Costo: $150 por 10mts</h3>
      </div>
      <div class="Titulos Producto6">
        <h2 class="CajasT">Vigas de Acero y Varilla</h2><img src="imgs/Vigas.png" width="250px" height="250px">
        <h3 class="Desc">Costo: $450</h3>
      </div>
    </div>
    <div class="Stuff">
      <div class="Creditos">
        <h2>Integrantes del Equipo: </h2> <br> Arturo Daniel Quirino Rodriguez <br><br> 1900230 <br><br> IAS
      </div>
      <div class="Acciones">
        <h2 class="Compra Desc" style="color: white;">Si desea comprar algun producto: </h2><br><br>
        <a href="/hacer-pedidos" class="Lista">COMPRAR</a>
      </div>
    </div>
  </div>
</body>

</html>